<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
  <table border="2">
<h2 mat-dialog-title style="background-color:darkslategray; color:white">
Information
</h2>

<mat-dialog-content style="margin-left:20px ">
  ordered from abc.com
 
</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button btn btn-danger" style="background-color:lightcoral;margin-left:100px" (click)="ok()">
    ok

  </button>
  <button class="mat-raised-button btn btn-danger" style="background-color:lightcoral;margin-left:100px" (click)="close()">
    close
  </button>
</mat-dialog-actions>
  </table>
