<router-outlet>

</router-outlet>

<div class="container">
    <div >
        <app-fusionchart > 

        </app-fusionchart>
    </div>
    <div >
        <app-graph-modal>

        </app-graph-modal>
    </div>
    <div >
            <app-customer-table>
                
            </app-customer-table>
        </div>
        <div>
            <app-stats>
                
            </app-stats>
        </div>
    <div>
        <app-pie-chart>

        </app-pie-chart>
    </div>
    
</div>



