.container{
    margin-left:250px;
    
    display:flex; 
    flex-direction: row;
     
    flex-wrap:wrap;
    
}
tr td{

    padding:4px 12px 4px 12px;
}
tr th{

    padding:4px 12px 4px 12px;
    color: darkslategray;
}
table{
    margin-top: 20px;
}
.success{
    background-color: rgb(19, 59, 18);
    color:rgb(253, 253, 253);
}