
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
</head>
<body>
    <div class="topnav">
       <span style=" float:right" id="top">      
         <a href="#" style="margin-left: 5px" >
           <span class='fas fa-store'>Store front</span>
         </a>
      
         <a style="margin-left: 5px" >
           logged in as:
           <span class='fas fa-user'>
             abcadmin
           </span>
         </a>
         <a href="#" style="margin-left: 5px" >Logout</a>
       </span>
      </div>
  </body>

  