
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<div>
    <input type="text" style="margin-bottom: 10px" placeholder="search" (input)="term=$event.target.value">
  <table class="table-striped table-bordered">
    
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Status</th>
      <th>Total</th>
      <th>Details</th>
    </tr>
    <tr *ngFor="let i of data| paginate: { itemsPerPage: 4, currentPage: p } | filter:term ; let i = index">
      <td>{{i.id}}</td>
      <td>{{i.Name}}</td>
      <td>{{i.status}}</td>
      <td>{{i.total | currency}}</td>
      <td ><button class="btn btn-sm" (click)="openDialog(i)"style="font-size:10px;float:center; background-color: lightcoral;">delete</button>
      <button class="btn btn-sm" (click)="openEditDialog(i)"style="font-size:10px;float:center; background-color: lightcoral;margin-left:3px">edit </button></td>
  
    </tr>

  </table>
</div>
<div style="margin-top:5px ">
<pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>